.animals {
    list-style: none;
    color: deeppink;
    
}

.games {
    list-style: none;
    margin-left: 400px ;
    margin-top: -110px;
    border-left: 2px solid black;
    padding-left: 15px;
    color: cornflowerblue;
}

.game-header{
    margin-left : 415px;
    margin-top: -50px;
}

.animais{
    margin-bottom: 23px;
}





