<div class="aula">
  <div class="list-render">
    <h2 class="animais">Animais:</h2>
    <ul class="animals">
      <li *ngFor="let animal of animals">
        Nome: <a routerLink="/list/ {{animal.id}}">{{ animal.name }}</a> Espécie: {{ animal.type }}
        <button
          (click)="showAge(animal)"
          [ngStyle]="{
            'text-decoration': underline,
            background: bg,
            border: bg
          }"
        >
          Ver idade do pet
        </button>
        <button
          (click)="removeAnimal(animal)"
          [ngStyle]="{
            background: bg,
            'text-decoration': underline,
            border: bg
          }"
        >
          Deletar animal
        </button>
      </li>
    </ul>
    <p *ngIf="showA">
      {{ animalDetails }}
    </p>
    <button (click)="hideDetails()" [ngStyle]="{ border: bg }">
      Esconder detalhes
    </button>
  </div>
</div>
